@mixin backgroundSize($bgSize) {
	-webkit-background-size: ($bgSize);	
	-moz-background-size: ($bgSize); 
	-o-background-size: ($bgSize);	
	background-size: ($bgSize);
}

@mixin verticalGradient($fromColor, $toColor) {
    background-image: linear-gradient(to bottom, $fromColor, $toColor);
}

@mixin boxshadow() {

  -moz-box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.6);
  box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.6);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;
}

/* Media Query Mixins */

@mixin bp-largescreens {
	@media only screen and (min-width: 1200px) {
		@content;
	}
}

@mixin bp-mediumscreens {
	@media only screen and (min-width: 767px) {
		@content;
	}
}

@mixin bp-mobile {
	@media only screen and (max-width: 480px) {
		@content;
	}
}