
@import 'mixins';

html, body {
    height: 100%;
}



a, button {
	transition:all 0.25s ease 0s;
    }


    .btns {
        margin-top:20px;
        display:inline-block;
        padding:20px 10px;
        color: white;
        font-weight:700;
        cursor:pointer;
        min-width:300px;
        text-decoration:none;
        text-align: center;
        font-size: 15px;
    
        @include bp-mediumscreens {
            font-size: 17px;
            letter-spacing: 3px;
            padding-left:40px;
            padding-right:40px;
        }
    }
    
    .btns:hover, .btns:focus {
        color: #fff;
        text-decoration: none;
    }


    input[type="text"] {
        font-size: 14px;
        height:50px;
        border-radius: 0;
    }
    
    textarea {
        @extend input[type="text"];
        height:auto;
    }
    
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 13px;
        color: #aaaaaa;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 13px;
        color: #aaaaaa;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 13px;
        color: #aaaaaa;
      }

/************  HEADER 1  **********/

    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
    @import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');

    @import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
    @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
    
#section-header1 {
    background-image: url(../images/bg-header1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top:4em;
    padding-bottom: 4em;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 16px;

    @include backgroundSize(Cover);

    h1 {      
        margin-bottom: 0;
        font-weight:700;

        @include bp-mediumscreens {
            font-size: 60px;
        }
    }

    h2 {
        font-family: 'La Belle Aurore', cursive;
        font-weight: bold;
        margin-bottom: 30px;

        @include bp-mediumscreens {
            font-size: 50px;
        }
    }
}


/************  HEADER 2  **********/



#section-header2 {
    background-image: url(../images/bg-header2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top:4em;
    padding-bottom: 4em;
    padding-left:8%;
    padding-right:8%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #000;

    @include backgroundSize(Cover);

    h1 {      
        font-family: 'Oswald', sans-serif;
        margin-bottom: 0;
        font-weight:600;

        @include bp-mediumscreens {
            font-size: 80px;
        }
    }

    h2 {
        font-weight: normal;
        margin-bottom: 30px;

        @include bp-mediumscreens {
            font-size: 35px;
        }
    }

    h3 {
        font-size: 35px;
        font-weight: bold;
        margin-top: 0;
        color: #fff;
    }

    .form-inner {
        background: rgba($color: #000000, $alpha: .70);
        padding:30px 40px;
        color: #fff;

        h1 {
            text-transform: uppercase;
            font-size: 35px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            margin-top:0;
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 0;
        }

        .form-inputs {
            margin-top:20px;
        }
        
    }

    button {
        background:#7798a8;
        border:none;
    }

    button:hover, button:focus {
        background: #fff;
        color: #7798a8;
    }
}


/************  HEADER 3  **********/


#section-header3 {
    background-image: url(../images/bg-header3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top:4em;
    padding-bottom: 4em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 16px;

    @include backgroundSize(Cover);

    h1 {      
        margin-bottom: 0;
        font-weight:700;

        @include bp-mediumscreens {
            font-size: 60px;
        }
    }

    h2 {
        font-weight: bold;
        background:#8db113;
        padding: 20px 40px;
        font-size: 16px;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 30px;
    }

    a {
        display: block;
        padding:20px 20px;
        overflow: hidden;
        font-size: 17px;
        letter-spacing: normal;
        width: 100%;

       

        i {
            display: block;
            float: left;
            background: rgba($color: #000000, $alpha: .40);
            padding-top: 20px;
            margin-top: -20px;
            margin-bottom: -20px;
            margin-left: -20px;
            font-size: 20px;       
            width: 64px;
            height: 64px;

            @include bp-mobile {
                font-size: 14px;
                padding:20px 15px 15px;
                width: 54px;
                height: 54px;
            }
        }

        @include bp-mobile {
            font-size: 14px;
            padding:15px 10px;
        }
    }

    .place-your-order {
        background:#10437a;
        margin-top: 30px;    
    }

    .learn-more {
        background:#0577af;       
    }

    .request-a-call {
        background:#2fcdcf;       
    }

    a:hover, a:focus {
        background:#8db113;
    }
}


/************  HEADER 4  **********/


#section-header4 {
    background-image: url(../images/bg-header3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top:2em;
    padding-bottom: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 16px;

    @include backgroundSize(Cover);


    a {
        display: block;
        padding:20px 20px;
        overflow: hidden;
        font-size: 17px;
        letter-spacing: normal;
        width: 100%;

       

        i {
            display: block;
            float: left;
            background: rgba($color: #000000, $alpha: .40);
            padding-top: 20px;
            margin-top: -20px;
            margin-bottom: -20px;
            margin-left: -20px;
            font-size: 20px;       
            width: 64px;
            height: 64px;

            @include bp-mobile {
                font-size: 14px;
                padding:20px 15px 15px;
                width: 54px;
                height: 54px;
            }
        }

        @include bp-mobile {
            font-size: 14px;
            padding:15px 10px;
        }
    }

    .place-your-order {
        background:#10437a;
        margin-top: 30px;    
    }

    .learn-more {
        background:#0577af;       
    }

    .request-a-call {
        background:#2fcdcf;       
    }

    a:hover, a:focus {
        background:#8db113;
    }
}



#section-account {
    font-family: 'Lato', sans-serif;
    background: rgba($color: #000000, $alpha: .80);
    font-size: 18px;
    padding-top:30px;
    padding-bottom: 0;

    margin-bottom: 40px;
    margin-top:-2em;
    margin-left:-15px;
    margin-right: -15px;

    p {

        @include bp-mediumscreens {
            text-align:left;
        }

        margin-bottom: 10px;
        font-weight: 300; 

        i {
            border: 1px solid #fff;
            padding: 15px 15px 10px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            margin-left: 5px;
            margin-right: 5px;
            color: #fff;
        }

    }

    address {
        margin-top: 0;

        a {
            display: inline-block;
            width: 42px;
            height: 42px;
            border: 1px solid #fff;
            border-radius:50%;
            padding: 8px;
            margin-left: 2px;
            margin-right:2px;
            text-align: center;

            @include bp-mobile {
                padding: 12px;
            }
        }

        a i::before {
            font-size: 14px;
            color: #fff;
        }

        a:hover, a:focus {
            background: #fff;
            border:1px solid #fff;
            color: #000;
        }

        @include bp-mediumscreens {
            text-align:right;
        }
    }
}


/************  SECTION HEADER 5  **********/



#section-header5 { 
    background-image: url(../images/bg-header3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top:2em;
    padding-bottom: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 16px;

    img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    @include backgroundSize(Cover);


    a {
        display: block;
        padding:20px 20px;
        overflow: hidden;
        font-size: 17px;
        letter-spacing: normal;
        width: 100%;


        i {
            display: block;
            float: left;
            background: rgba($color: #000000, $alpha: .40);
            padding-top: 20px;
            margin-top: -20px;
            margin-bottom: -20px;
            margin-left: -20px;
            font-size: 20px;       
            width: 64px;
            height: 64px;

            @include bp-mobile {
                font-size: 14px;
                padding:20px 15px 15px;
                width: 54px;
                height: 54px;
            }
        }

        @include bp-mobile {
            font-size: 14px;
            padding:15px 10px;
        }
    }

    .place-your-order {
        background:#10437a;
        margin-top: 30px;    
    }

    .learn-more {
        background:#0577af;       
    }

    .request-a-call {
        background:#2fcdcf;       
    }

    a:hover, a:focus {
        background:#8db113;
    }
}

/************  OPTIN 1  **********/

#section-optin1 {
    background-color: #464141;
    padding-top:4em;
    padding-bottom: 4em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 16px;

    h1 {
    font-size: 35px;
    font-weight: 800;
    }

    .form-inputs {
        margin-top: 20px;
    }

    button {
        background:#d5ae70;
        border:1px solid #d5ae70;
    }

    button:hover, button:focus {
        background:none;
        border:1px solid #d5ae70;
        color: #fff;
    }
}


/************  TESTIMONIALS 1  **********/

#section-testimonials1 {
    background-color: #fff;
    padding-top:4em;
    padding-bottom: 4em;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;

    h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #406575;
    margin-bottom: 30px;

        @include bp-mediumscreens {
            font-size: 60px;
        }
    }

    .col-sm-4 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    img {
        margin-bottom: 24px;
    }

    p {
        font-style: italic;
    }

    h4 {
        font-size: 14px;
        font-weight: bold;
    }

    
}


/************  TESTIMONIALS 2  **********/

#section-testimonials2 {
    background-color: #fff;
    padding-top:4em;
    padding-bottom: 4em;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;

    h1 {
    font-weight: 700;
    text-transform: uppercase;
    color: #d5ae70;
    margin-bottom: 30px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    }

    .col-sm-4 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    img {
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-style: italic;
    }

    h4 {
        font-size: 14px;
        font-weight: bold;
    }

    
}


/************  FAQ SECTION GROUP  **********/

#faq-group {
    background: #968a78;
    padding-top:4em;
    padding-bottom: 4em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;

    h1 {      
        margin-bottom: 0;
        font-weight:700;
    }

    h2 {
        font-family: 'La Belle Aurore', cursive;
        font-weight: bold;
        margin-bottom: 30px;
        font-size: 30px;

        @include bp-mediumscreens {
            font-size: 35px;
        }
    }


    .panel-group .panel {
		border-radius: 0;
        box-shadow: none;
        border: none;
	}

	.panel-default > .panel-heading {
		padding: 0;
		border-radius: 0;
		color: #fff;
		background-color: #464141;
	}

	.panel-title {
		font-size: 18px;
	}

    .panel-title > a {
        color: #fff;
		display: block;
		padding: 16px 15px;
		text-decoration: none;
	}

	.panel-title > a > i {
        background-color:#464141;
		float: left;
        color: #fff;
        width: 45px;
        height: 46px;
        margin-left: -15px;
        margin-top: -15px;
        margin-bottom: -15px;
        text-align: center;
        padding-top: 15px;
        margin-right: 10px;
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body {
        background: #eeeeee;
        padding: 20px;
        color:#000;
    }
    
    [data-toggle="collapse"] .fa:before {   
        content: "\f068";
      }
      
      [data-toggle="collapse"].collapsed .fa:before {
        content: "\f067";
      }
}
    
/************  FAQ SECTION SINGLE  **********/

#faq-single {
    background:#406575;
    padding-top:4em;
    padding-bottom: 4em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;

    h1 {
        font-family: 'Oswald', sans-serif;
        font-weight: normal!important;

        @include bp-mediumscreens {
            font-size: 60px;
        }
    }

    h2 {
        font-family: 'Lato', sans-serif!important;
        font-weight: normal!important;
        font-size: 25px!important;
        margin-bottom: 20px;
    }


    .panel-group .panel {
		border-radius: 0;
        box-shadow: none;
        border: none;
	}

	.panel-default > .panel-heading {
		padding: 0;
		border-radius: 0;
		color: #fff;
		background-color: #5191ad;
	}

	.panel-title {
		font-size: 18px;
	}

    .panel-title > a {
        color: #fff;
		display: block;
		padding: 16px 15px;
		text-decoration: none;
	}

	.panel-title > a > i {
        background-color:#5191ad;
		float: left;
        color: #fff;
        width: 45px;
        height: 46px;
        margin-left: -15px;
        margin-top: -15px;
        margin-bottom: -15px;
        text-align: center;
        padding-top: 15px;
        margin-right: 10px;
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body {
        background: #eeeeee;
        padding: 20px;
        color:#000;
    }
    
    [data-toggle="collapse"] .fa:before {   
        content: "\f068";
      }
      
      [data-toggle="collapse"].collapsed .fa:before {
        content: "\f067";
      }
}


/************  FOOTER SECTION  **********/

#footer-section {
    background-color: #141314;
    padding-top:4em;
    padding-bottom: 4em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 13px;

    img {
        max-width: 100px;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 5px;
    }

    a {
        color: #fff;
    }

    a:hover, a:focus {
        color:#eee;
        text-decoration: none;
    }

    address {
        margin-top: 10px;

        a {
            display: inline-block;
            width: 42px;
            height: 42px;
            border: 1px solid #fff;
            border-radius:50%;
            padding: 10px;
            margin-left: 2px;
            margin-right:2px;
        }

        a i::before {
            font-size: 14px;
        }

        a:hover, a:focus {
            background: #fff;
            border:1px solid #fff;
            color: #000;
        }
    }
}



/************  SURVEY RESULT SECTION  **********/
#survey-result {

    font-size: 16px;
    font-weight: 300;
    border-radius:.8rem;
    max-width: 800px;
    padding: 2rem;

    @include boxshadow();

    height: calc(100% - (1.75rem * 2));
    margin:1.75rem 1em;
    display: block;

    @include bp-mediumscreens {
        margin:1.75rem auto;
        font-size: 24px;
    }

    h1 {
        font-weight: 700;
        margin-bottom: 24px;
    }

    h2 {
        font-size: 30px;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 24px;

        @include bp-mediumscreens {
            font-size: 50px;
        }

        strong {
            font-weight: 700;
            color:#27be1f;
        }
    }

    img { 
        margin-bottom: 24px;

        @include bp-mobile {
            max-width: 150px;
        }
    }

    a {
        background-color: #27be1f;
        color: #fff;
        padding: 20px 40px;
        margin-bottom: 20px;
        min-width: unset;
    }

    a:hover, a:focus {
        background-color: #1ca015;
    }
}
 