/* Media Query Mixins */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
html, body {
  height: 100%;
}

a, button {
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.btns {
  margin-top: 20px;
  display: inline-block;
  padding: 20px 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  min-width: 300px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}

@media only screen and (min-width: 767px) {
  .btns {
    font-size: 17px;
    letter-spacing: 3px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.btns:hover, .btns:focus {
  color: #fff;
  text-decoration: none;
}

input[type="text"], textarea {
  font-size: 14px;
  height: 50px;
  border-radius: 0;
}

textarea {
  height: auto;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 13px;
  color: #aaaaaa;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 13px;
  color: #aaaaaa;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 13px;
  color: #aaaaaa;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 13px;
  color: #aaaaaa;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 13px;
  color: #aaaaaa;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 13px;
  color: #aaaaaa;
}

/************  HEADER 1  **********/
#section-header1 {
  background-image: url(../images/bg-header1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 4em;
  padding-bottom: 4em;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 16px;
  background-size: Cover;
}

#section-header1 h1 {
  margin-bottom: 0;
  font-weight: 700;
}

@media only screen and (min-width: 767px) {
  #section-header1 h1 {
    font-size: 60px;
  }
}

#section-header1 h2 {
  font-family: 'La Belle Aurore', cursive;
  font-weight: bold;
  margin-bottom: 30px;
}

@media only screen and (min-width: 767px) {
  #section-header1 h2 {
    font-size: 50px;
  }
}

/************  HEADER 2  **********/
#section-header2 {
  background-image: url(../images/bg-header2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 8%;
  padding-right: 8%;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #000;
  background-size: Cover;
}

#section-header2 h1 {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0;
  font-weight: 600;
}

@media only screen and (min-width: 767px) {
  #section-header2 h1 {
    font-size: 80px;
  }
}

#section-header2 h2 {
  font-weight: normal;
  margin-bottom: 30px;
}

@media only screen and (min-width: 767px) {
  #section-header2 h2 {
    font-size: 35px;
  }
}

#section-header2 h3 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 0;
  color: #fff;
}

#section-header2 .form-inner {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px 40px;
  color: #fff;
}

#section-header2 .form-inner h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}

#section-header2 .form-inner p {
  margin-bottom: 0;
}

#section-header2 .form-inner .form-inputs {
  margin-top: 20px;
}

#section-header2 button {
  background: #7798a8;
  border: none;
}

#section-header2 button:hover, #section-header2 button:focus {
  background: #fff;
  color: #7798a8;
}

/************  HEADER 3  **********/
#section-header3 {
  background-image: url(../images/bg-header3.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 4em;
  padding-bottom: 4em;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 16px;
  background-size: Cover;
}

#section-header3 h1 {
  margin-bottom: 0;
  font-weight: 700;
}

@media only screen and (min-width: 767px) {
  #section-header3 h1 {
    font-size: 60px;
  }
}

#section-header3 h2 {
  font-weight: bold;
  background: #8db113;
  padding: 20px 40px;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 30px;
}

#section-header3 a {
  display: block;
  padding: 20px 20px;
  overflow: hidden;
  font-size: 17px;
  letter-spacing: normal;
  width: 100%;
}

#section-header3 a i {
  display: block;
  float: left;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -20px;
  font-size: 20px;
  width: 64px;
  height: 64px;
}

@media only screen and (max-width: 480px) {
  #section-header3 a i {
    font-size: 14px;
    padding: 20px 15px 15px;
    width: 54px;
    height: 54px;
  }
}

@media only screen and (max-width: 480px) {
  #section-header3 a {
    font-size: 14px;
    padding: 15px 10px;
  }
}

#section-header3 .place-your-order {
  background: #10437a;
  margin-top: 30px;
}

#section-header3 .learn-more {
  background: #0577af;
}

#section-header3 .request-a-call {
  background: #2fcdcf;
}

#section-header3 a:hover, #section-header3 a:focus {
  background: #8db113;
}

/************  HEADER 4  **********/
#section-header4 {
  background-image: url(../images/bg-header3.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 16px;
  background-size: Cover;
}

#section-header4 a {
  display: block;
  padding: 20px 20px;
  overflow: hidden;
  font-size: 17px;
  letter-spacing: normal;
  width: 100%;
}

#section-header4 a i {
  display: block;
  float: left;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -20px;
  font-size: 20px;
  width: 64px;
  height: 64px;
}

@media only screen and (max-width: 480px) {
  #section-header4 a i {
    font-size: 14px;
    padding: 20px 15px 15px;
    width: 54px;
    height: 54px;
  }
}

@media only screen and (max-width: 480px) {
  #section-header4 a {
    font-size: 14px;
    padding: 15px 10px;
  }
}

#section-header4 .place-your-order {
  background: #10437a;
  margin-top: 30px;
}

#section-header4 .learn-more {
  background: #0577af;
}

#section-header4 .request-a-call {
  background: #2fcdcf;
}

#section-header4 a:hover, #section-header4 a:focus {
  background: #8db113;
}

#section-account {
  font-family: 'Lato', sans-serif;
  background: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 0;
  margin-bottom: 40px;
  margin-top: -2em;
  margin-left: -15px;
  margin-right: -15px;
}

#section-account p {
  margin-bottom: 10px;
  font-weight: 300;
}

@media only screen and (min-width: 767px) {
  #section-account p {
    text-align: left;
  }
}

#section-account p i {
  border: 1px solid #fff;
  padding: 15px 15px 10px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

#section-account address {
  margin-top: 0;
}

#section-account address a {
  display: inline-block;
  width: 42px;
  height: 42px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 8px;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  #section-account address a {
    padding: 12px;
  }
}

#section-account address a i::before {
  font-size: 14px;
  color: #fff;
}

#section-account address a:hover, #section-account address a:focus {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
}

@media only screen and (min-width: 767px) {
  #section-account address {
    text-align: right;
  }
}

/************  SECTION HEADER 5  **********/
#section-header5 {
  background-image: url(../images/bg-header3.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 16px;
  background-size: Cover;
}

#section-header5 img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#section-header5 a {
  display: block;
  padding: 20px 20px;
  overflow: hidden;
  font-size: 17px;
  letter-spacing: normal;
  width: 100%;
}

#section-header5 a i {
  display: block;
  float: left;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -20px;
  font-size: 20px;
  width: 64px;
  height: 64px;
}

@media only screen and (max-width: 480px) {
  #section-header5 a i {
    font-size: 14px;
    padding: 20px 15px 15px;
    width: 54px;
    height: 54px;
  }
}

@media only screen and (max-width: 480px) {
  #section-header5 a {
    font-size: 14px;
    padding: 15px 10px;
  }
}

#section-header5 .place-your-order {
  background: #10437a;
  margin-top: 30px;
}

#section-header5 .learn-more {
  background: #0577af;
}

#section-header5 .request-a-call {
  background: #2fcdcf;
}

#section-header5 a:hover, #section-header5 a:focus {
  background: #8db113;
}

/************  OPTIN 1  **********/
#section-optin1 {
  background-color: #464141;
  padding-top: 4em;
  padding-bottom: 4em;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 16px;
}

#section-optin1 h1 {
  font-size: 35px;
  font-weight: 800;
}

#section-optin1 .form-inputs {
  margin-top: 20px;
}

#section-optin1 button {
  background: #d5ae70;
  border: 1px solid #d5ae70;
}

#section-optin1 button:hover, #section-optin1 button:focus {
  background: none;
  border: 1px solid #d5ae70;
  color: #fff;
}

/************  TESTIMONIALS 1  **********/
#section-testimonials1 {
  background-color: #fff;
  padding-top: 4em;
  padding-bottom: 4em;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
}

#section-testimonials1 h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #406575;
  margin-bottom: 30px;
}

@media only screen and (min-width: 767px) {
  #section-testimonials1 h1 {
    font-size: 60px;
  }
}

#section-testimonials1 .col-sm-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#section-testimonials1 img {
  margin-bottom: 24px;
}

#section-testimonials1 p {
  font-style: italic;
}

#section-testimonials1 h4 {
  font-size: 14px;
  font-weight: bold;
}

/************  TESTIMONIALS 2  **********/
#section-testimonials2 {
  background-color: #fff;
  padding-top: 4em;
  padding-bottom: 4em;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
}

#section-testimonials2 h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #d5ae70;
  margin-bottom: 30px;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

#section-testimonials2 .col-sm-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#section-testimonials2 img {
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

#section-testimonials2 p {
  font-style: italic;
}

#section-testimonials2 h4 {
  font-size: 14px;
  font-weight: bold;
}

/************  FAQ SECTION GROUP  **********/
#faq-group {
  background: #968a78;
  padding-top: 4em;
  padding-bottom: 4em;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
}

#faq-group h1 {
  margin-bottom: 0;
  font-weight: 700;
}

#faq-group h2 {
  font-family: 'La Belle Aurore', cursive;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 30px;
}

@media only screen and (min-width: 767px) {
  #faq-group h2 {
    font-size: 35px;
  }
}

#faq-group .panel-group .panel {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

#faq-group .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #fff;
  background-color: #464141;
}

#faq-group .panel-title {
  font-size: 18px;
}

#faq-group .panel-title > a {
  color: #fff;
  display: block;
  padding: 16px 15px;
  text-decoration: none;
}

#faq-group .panel-title > a > i {
  background-color: #464141;
  float: left;
  color: #fff;
  width: 45px;
  height: 46px;
  margin-left: -15px;
  margin-top: -15px;
  margin-bottom: -15px;
  text-align: center;
  padding-top: 15px;
  margin-right: 10px;
}

#faq-group .panel-default > .panel-heading + .panel-collapse > .panel-body {
  background: #eeeeee;
  padding: 20px;
  color: #000;
}

#faq-group [data-toggle="collapse"] .fa:before {
  content: "\f068";
}

#faq-group [data-toggle="collapse"].collapsed .fa:before {
  content: "\f067";
}

/************  FAQ SECTION SINGLE  **********/
#faq-single {
  background: #406575;
  padding-top: 4em;
  padding-bottom: 4em;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
}

#faq-single h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal !important;
}

@media only screen and (min-width: 767px) {
  #faq-single h1 {
    font-size: 60px;
  }
}

#faq-single h2 {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 25px !important;
  margin-bottom: 20px;
}

#faq-single .panel-group .panel {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

#faq-single .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #fff;
  background-color: #5191ad;
}

#faq-single .panel-title {
  font-size: 18px;
}

#faq-single .panel-title > a {
  color: #fff;
  display: block;
  padding: 16px 15px;
  text-decoration: none;
}

#faq-single .panel-title > a > i {
  background-color: #5191ad;
  float: left;
  color: #fff;
  width: 45px;
  height: 46px;
  margin-left: -15px;
  margin-top: -15px;
  margin-bottom: -15px;
  text-align: center;
  padding-top: 15px;
  margin-right: 10px;
}

#faq-single .panel-default > .panel-heading + .panel-collapse > .panel-body {
  background: #eeeeee;
  padding: 20px;
  color: #000;
}

#faq-single [data-toggle="collapse"] .fa:before {
  content: "\f068";
}

#faq-single [data-toggle="collapse"].collapsed .fa:before {
  content: "\f067";
}

/************  FOOTER SECTION  **********/
#footer-section {
  background-color: #141314;
  padding-top: 4em;
  padding-bottom: 4em;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 13px;
}

#footer-section img {
  max-width: 100px;
  margin-bottom: 20px;
}

#footer-section p {
  margin-bottom: 5px;
}

#footer-section a {
  color: #fff;
}

#footer-section a:hover, #footer-section a:focus {
  color: #eee;
  text-decoration: none;
}

#footer-section address {
  margin-top: 10px;
}

#footer-section address a {
  display: inline-block;
  width: 42px;
  height: 42px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

#footer-section address a i::before {
  font-size: 14px;
}

#footer-section address a:hover, #footer-section address a:focus {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
}

/************  SURVEY RESULT SECTION  **********/
#survey-result {
  font-size: 16px;
  font-weight: 300;
  border-radius: .8rem;
  max-width: 800px;
  padding: 2rem;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.6);
  box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.6);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;
  height: calc(100% - (1.75rem * 2));
  margin: 1.75rem 1em;
  display: block;
}

@media only screen and (min-width: 767px) {
  #survey-result {
    margin: 1.75rem auto;
    font-size: 24px;
  }
}

#survey-result h1 {
  font-weight: 700;
  margin-bottom: 24px;
}

#survey-result h2 {
  font-size: 30px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 24px;
}

@media only screen and (min-width: 767px) {
  #survey-result h2 {
    font-size: 50px;
  }
}

#survey-result h2 strong {
  font-weight: 700;
  color: #27be1f;
}

#survey-result img {
  margin-bottom: 24px;
}

@media only screen and (max-width: 480px) {
  #survey-result img {
    max-width: 150px;
  }
}

#survey-result a {
  background-color: #27be1f;
  color: #fff;
  padding: 20px 40px;
  margin-bottom: 20px;
  min-width: unset;
}

#survey-result a:hover, #survey-result a:focus {
  background-color: #1ca015;
}
/*# sourceMappingURL=build.css.map */