/************  SURVEY RESULT SECTION  **********/
#survey-result {

    font-size: 16px;
    font-weight: 300;
    border-radius:.8rem;
    max-width: 800px;
    padding: 2rem;

    @include boxshadow();

    height: calc(100% - (1.75rem * 2));
    margin:1.75rem 1em;
    display: block;

    @include bp-mediumscreens {
        margin:1.75rem auto;
        font-size: 24px;
    }

    h1 {
        font-weight: 700;
        margin-bottom: 24px;
    }

    h2 {
        font-size: 30px;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 24px;

        @include bp-mediumscreens {
            font-size: 50px;
        }

        strong {
            font-weight: 700;
            color:#27be1f;
        }
    }

    img { 
        margin-bottom: 24px;

        @include bp-mobile {
            max-width: 150px;
        }
    }

    a {
        background-color: #27be1f;
        color: #fff;
        padding: 20px 40px;
        margin-bottom: 20px;
        min-width: unset;
    }

    a:hover, a:focus {
        background-color: #1ca015;
    }
}